

body { 
    display: grid;
    grid-template-areas: 
      "header header header"
      "nav article ads"
      "footer footer footer"; 
    grid-template-rows: 200px auto 100px;
    grid-template-columns: 200px auto 12%;
    grid-gap: 20px;
    height: 100vh;
    margin: 0;
    }
  header, footer, article, nav, div {
  
    background: gold;
    text-align: center;
  }
  #pageHeader {
    grid-area: header;
  }
  #pageFooter {
    grid-area: footer;
  }
  #mainArticle { 
    grid-area: article;      
    }
  #mainNav { 
    grid-area: nav; 
    }
  #siteAds { 
    grid-area: ads; 
    }
